.page {
  min-inline-size: 360px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font, "Inter-Variable"), sans-serif;
  font-variation-settings: "wght" var(--main-font-wght, 410),
    "slnt" var(--main-font-slnt, 0);
  font-size: var(--main-font-size, 18px);
  background-color: var(--main-bg-color, #fff);
  background-image: repeating-linear-gradient(
      to top,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  border: 2px solid var(--accent-color, #000);
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  margin-block: 100px;
  background-color: var(--main-bg-color, #fff);
}

.header_logo {
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  text-transform: uppercase;
  padding: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem) 0;
  display: flex;
  block-size: clamp(20.25rem, 19.3477rem + 3.8498vw, 22.8125rem);
  flex-direction: column;
  align-items: center;
}

.header_logo-main-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-block-end: 20px;
}

.header_logo-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 49.5px;
}

.card-list:last-child {
  margin-bottom: 50px;
}

.card-list-item {
  background-color: var(--main-bg-color, #fff);
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.card {
  border: 2px solid var(--accent-color, #000);
}

.card-text-button {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25.5px;
}

.card-text-button p {
  line-height: 117%;
}

.card-title {
  font-variation-settings: "wght" var(--main-font-wght-title, 715),
    "slnt" var(--main-font-slnt, 0);
  font-size: inherit;
  padding-block: 4px;
  padding-inline: 10px;
}

.card-image {
  inline-size: 100%;
  object-fit: cover;
  display: block;
}

.card-button {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  padding: 0;
  border: 2px solid var(--accent-color, #000);
}

.card-button .card__icon-button {
  padding: 0;
  display: flex;
  cursor: pointer;
  block-size: 35px;
}

.button__text {
  font-size: 14px;
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  align-self: center;
}

.save-button .button__text {
  border: none;
  padding: 0;
  padding-left: 8px;
}

.save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 100px 0;
  background-color: #fff;
  block-size: 55px;
  inline-size: 335px;
  padding: 15px 18px;
  border: 2px solid var(--accent-color, #000);
}

.floppy-icon {
  width: 21px;
  height: auto;
}

.card-image-container {
  position: relative;
  border-block: 2px solid #000;
  aspect-ratio: 1 / 1;
}

.card-image-label {
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  top: 25px;
  right: 25px;
  filter: opacity(50%);
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--text-stroke-color, #fff),
    0 1px var(--text-stroke-color, #fff), 1px 0 var(--text-stroke-color, #fff),
    0 -1px var(--text-stroke-color, #fff);
  z-index: 1;
}

@supports (
  (text-stroke: 1px var(--text-stroke-color, #fff)) or
    (-webkit-text-stroke: 1px var(--text-stroke-color, #fff))
) {
  .card-image-label {
    -webkit-text-stroke: 1px var(--text-stroke-color, #fff);
    text-stroke: 1px var(--text-stroke-color, #fff);
    text-shadow: none;
  }
}

.dialog-open {
  position: fixed;
  display: none;
  z-index: 1000;
  inset: 0;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  padding: 30px 40px;
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  text-transform: uppercase;
  font-size: 14px;
  grid-template-columns: repeat(2, fit-content);
  grid-template-rows: repeat(2, fit-content);
  column-gap: 20px;
  row-gap: 30px;
  border: 2px solid var(--accent-color, #000);
}

.dialog-open::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

.dialog-open[open] {
  display: grid;
}

dialog .floppy-icon {
  width: 39px;
  height: auto;
  align-self: center;
}

.dialog-text {
  grid-column: 2;
  align-content: center;
  line-height: 150%;
}

.close-button {
  border: 2px solid var(--accent-color, #000);
  grid-column: 1 /3;
  font-size: inherit;
  text-transform: uppercase;
  block-size: 38px;
}

.close-button-text,
.button__text,
.save-button .floppy-icon {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--font-transition-color, #fff);
}

.card-image-sepia {
  filter: sepia(50%);
}

.card-image-blur {
  filter: blur(5px);
}

.card-image-grayscale {
  filter: grayscale(100%);
}

.card-image-invert {
  filter: invert(70%);
}

.card-image-hue-rotate {
  filter: hue-rotate(-239deg);
}

.card-image-saturate {
  filter: saturate(250%);
}

.card-image-blur-grayscale {
  filter: blur(3px) grayscale(80%);
}

/* hover, focus, animation*/

.card-button .card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color, #000);
}

.card__icon-button {
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
  align-self: center;
}

.button-shadow {
  position: relative;
  transition: box-shadow 0.3s ease;
}

.button-shadow:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color, #000);
}

.button-shadow::before {
  content: "";
  position: absolute;
  background-color: var(--accent-color, #000);
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
}

.button-shadow:hover::before {
  transform: scaleX(1);
}

/* like-icon */

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: liked_icon-sparks 0.3s ease-in 0.3s;
}

.contour {
  transition: fill linear 0.1s;
  transition-delay: 0;
}

.like-icon.is-liked .contour {
  fill: var(--like-icon-sparks-color, #f00);
  transition-delay: 0.06s;
}

.core {
  fill: transparent;
  transition: fill linear 0.3s;
  transition-delay: 0.03s;
}

.like-icon:hover .core {
  fill: var(--like-icon-contour-color, #000);
  transition-delay: 0;
}

.like-icon:active .core {
  fill: var(--like-icon-sparks-color, #f00);
  transition-delay: 0;
}

.like-icon.is-liked .core {
  fill: var(--like-icon-sparks-color, #f00);
  transition-delay: 0;
}

.main-body {
  fill: transparent;
  transition: fill linear 0.3s;
  transition-delay: 0;
}

.like-icon:hover .main-body {
  fill: var(--like-icon-contour-color, #000);
  transition-delay: 0.05s;
}

.like-icon:active .main-body {
  fill: var(--like-icon-sparks-color, #f00);
  transition-delay: 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--like-icon-sparks-color, #f00);
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: liked_icon 0.3s ease-in 0.1s;
}

/* медиа-запросы */

@media (width < 376px) {
  .save-button {
    flex-direction: column;
    align-items: center;
    max-inline-size: 306px;
    block-size: 84px;
  }
  .floppy-icon {
    width: 28px;
    height: auto;
  }
  .save-button .button__text {
    padding: 8px 0 0 0;
  }
}
